{% extends ':layouts:base.html.twig' %}

{% block main_content %}
	<div class="container">
		<div class="row">
			{# <div id="patience" class='col-xs-offset-2 col-md-offset-4 col-md-8'>
				<div class='messageAttente'>
					<h1>patience</h1>
				</div>
				<div class="wait">
					<div class="circle turn"></div>
					<div class="littleCircle turnReverse"></div>
				</div>
			</div> #}
		{% for book in books %}
		<div class="col-xs-12" id="cart">
			<div class="bookCart">
				<p>{{ book.id }} - {{ book.title }}</p>
			</div>
		</div>
	</div>
</div>
	
{% endfor %}
{% endblock %}