{% extends ':layouts:base.html.twig' %}

{% block main_content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12" id="cart">
				<h1>Votre panier</h1>
				{% if books is defined %}
				<table class='table'>
					<thead>
						<tr>
							<th>#</th>
							<th>Titre</th>
						</tr>
					</thead>
					<tbody>
					{% for book in books %}
						<tr>
							<td>{{ book.id }}</td>
							<td>{{ book.title }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</div>

		</div>
	</div>
</div>
	
{% endblock %}