<div id="otherOptions">
	<h4>Autres options</h4>
	<div id="button">
		<a href="#" class="buttonAccount" title="Choisir un point relais">Choisir votre point relais</a>
		<a href="{{ path('bdloc_app_user_updatepassword')}}" id="managePassword" class="buttonAccount" title="Modifier mot de passe">Modifier votre mot de passe</a>
		<a href="{{ path('bdloc_app_payment_takesubscriptionpayment') }}" class="buttonAccount" title="Choix abonnement">Choisir un abonnement</a>
	</div>
</div>