{% extends ':layouts:base.html.twig' %}

{% block main_content %}

	<h1>{% block title %}Vos informations{% endblock %}</h1>
	
	<div class="container">
		<div class="row">
			<div id='userAccount' class="col-xs-12">
				<div class='container'>
					<div class="row">
						<div id="detailsAccount" class="col-xs-12 col-md-6">
							<h4>Détails de votre compte</h4>
							{% for flashMessage in app.session.flashbag.get('message') %}
				
						    <div class="alert alert-success">
						        <p>{{ flashMessage }}</p>
						    </div>
							{% endfor %}

							{{ form_start(userForm, {'action' : path('bdloc_app_user_account'), 'method' : 'post', 'attr': {'novalidate' : 'novalidate', 'id' : 'updateAccountUser'}}) }}

							{{ form_end(userForm)}}
						</div>
						<div id="options" class="col-xs-12 col-md-6">
							{{ render(controller('BdlocAppBundle:User:afficheOptions')) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}