{% block main_content %}
	<div class='container'>
		<div class='row'>
			<div id='formChangePassword' class='col-xs-12 col-md-6'>
				<div id="change">
					<h4>Modification de votre mot de passe</h4>
					{% for flashMessage in app.session.flashbag.get('message') %}
					
					<div class="alert alert-success">
				        <p>{{ flashMessage }}</p>
				    </div>
					{% endfor %}
					{{ form(changePasswordForm, {'action' : path('bdloc_app_user_updatepassword'), 'method' : 'post', 'attr': {'novalidate' : 'novalidate', 'id' : 'changePassword'}}) }}
					<div id="backOptions">
						<a href="{{ path('bdloc_app_user_afficheoptions') }}">Retour options compte</a>
					</div>
				</div>	
				
			</div>
		</div>
	</div>
{% endblock %}