/*
 * Général
 */
h1,
h2,
h3,
h4,
h5,
h6,
span,
input,
p,
a,
button,
label,
select,
figcaption,
textarea,
ul,
li,
table,
td,
th {
  font-family: Lato, sans-serif, Calibri;
}
h1,
h2,
h3,
h4,
h5,
h6,
select,
a,
button {
  text-transform: uppercase;
  text-align: center;
}
a {
  text-decoration: none;
  cursor: pointer;
  padding: 10px 30px;
  border: 0;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
input {
  outline: none;
}
input[type=submit],
button {
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  padding: 10px 30px;
  border: 0;
  color: #fff;
}
.clearfix {
  clear: both;
}
#gestionBouton {
  margin-top: 100px;
}
.retour {
  background: rgba(190,144,212,0.5);
  color: #fff;
  -webkit-transition: background 0.3s;
  -khtml-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  display: block;
  width: 200px;
  margin: auto;
}
.retour:hover {
  background: #be90d4;
}
/*
 * Header
 */
#header {
  background: #bdc3c7;
}
#nav {
  text-align: right;
  margin-top: 25px;
}
#nav li {
  display: inline;
  font-size: 20px;
}
/*
 * Accueil
 */
#inscription {
  margin-top: 50px;
}
#inscription a {
  display: block;
  width: 500px;
  background: #e67e22;
  margin: auto;
  color: #fff;
  font-size: 30px;
}
#inscription {
  position: relative;
  -webkit-animation-delay: 0.3s;
  -khtml-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 2s;
  -khtml-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: inscription;
  -khtml-animation-name: inscription;
  -moz-animation-name: inscription;
  -ms-animation-name: inscription;
  -o-animation-name: inscription;
  animation-name: inscription;
  -webkit-animation-fill-mode: backwards;
  -khtml-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
/*
 * Detail
 */
.detail {
  margin-top: 50px;
}
/*
 * Formulaire
 */
form li {
  text-align: right;
}
/*
 * Message
 */
.message {
  text-align: center;
  margin-top: 100px;
}
/*
 * Animation
 */
.scale {
  -webkit-animation-delay: 0.3s;
  -khtml-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 2s;
  -khtml-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: scale;
  -khtml-animation-name: scale;
  -moz-animation-name: scale;
  -ms-animation-name: scale;
  -o-animation-name: scale;
  animation-name: scale;
  -webkit-animation-fill-mode: backwards;
  -khtml-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
@-moz-keyframes inscription {
  0% {
    left: -2000px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes inscription {
  0% {
    left: -2000px;
  }
  100% {
    left: 0px;
  }
}
@-o-keyframes inscription {
  0% {
    left: -2000px;
  }
  100% {
    left: 0px;
  }
}
@keyframes inscription {
  0% {
    left: -2000px;
  }
  100% {
    left: 0px;
  }
}
@-moz-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -khtml-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -khtml-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@-o-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -khtml-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -khtml-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
