{% extends ':layouts:base.html.twig' %}

{% block main_content %}
<div class="container">
	<div class="row">
		<div id="choixAbonnement" class="col-xs-12">
			<div id="form" class="col-xs-12 col-md-6">
				<form id="formAbonnement" method="post" action="{{ path('bdloc_app_payment_card') }}">
					{% for flashMessage in app.session.flashbag.get('message') %}
					
				    <div class="alert alert-danger">
				        <p>{{ flashMessage }}</p>
				    </div>
					{% endfor %}
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="mensuel" value="mensuel">
					    Abonnement mensuel
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="optionsRadios" id="annuel" value="annuel">
					    Abonnement annuel
					  </label>
					</div>
					<button type="submit" class="btn btn-success">étape suivante</button>	
				</form>
				<div id="montantAbonnement">
					<div class="alert alert-info" role="alert"><span>Aucun montant</span></div>
					
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				<h4>Vos coordonnées bancaires</h4>
				 {{ render(controller('BdlocAppBundle:Payment:card')) }}
			</div>
		</div>
		   		
		<div id="button" class="col-xs-12">
			<a class="retour" href="{{ path('bdloc_app_default_home') }}" title="Accueil">Retour accueil</a>
		</div>
	</div>
</div>

{% endblock %}